%logo {
  display: inline-block;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);

  @include mq(desk) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.header__logo {
  @extend %logo;

  @include mq(mob-only) {
    padding: 16px 0;
  }

  @include mq(tab) {
    padding: 26px 0;
    margin-right: 88px;
  }

  @include mq(desk) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__logo--dark {
  color: #000000;
}

.footer__logo {
  @extend %logo;
  display: block;
  text-align: center;

  margin-bottom: 20px;

  @include mq(desk) {
    margin-right: 156px;
  }
}

.footer__logo--light {
  color: var(--primary-white-color);
}
