.subscription {
  @include mq(tab) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desk) {
    width: 570px;
    margin-top: 12px;
  }
}

.subscription__form {
  @include mq(desk) {
    display: flex;
    align-items: center;
  }
}

.subscription__label {
  @include mq(tab-only) {
    display: block;
    width: 450px;
  }
}

.subscription__input {
  display: block;
  width: 100%;
  padding: 15px 16px;

  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* outline: transparent; */

  @include mq(not-desk) {
    // width: 450px;
    margin-bottom: 20px;
  }

  @include mq(desk) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}

.subscription__icon {
  margin-left: 10px;

  fill: var(--primary-white-color);
}
