.team {
  background-color: var(--secondary-bg-color);
}

.team__members {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__card {
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include mq(mob-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tab-only) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include mq(desk) {
    width: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__avatar {
  margin-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
